<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC '-//mybatis.org//DTD Mapper 3.0//EN' 'http://mybatis.org/dtd/mybatis-3-mapper.dtd'>
<mapper namespace="uz.ibaso.blog.mappers.PostMapper">
    <select id="getPostAuthor" resultType="long">
        select user_id from post where id = #{post_id}
    </select>
    <select id="getPostById" resultType="uz.ibaso.blog.db.dto.OutPostDto">
        select post.id, user_id, screen_name, username, content,
               post.created_date, like_count, repost_count, comment_count, parent_id from post
                   left join users on post.user_id = users.id
        where post.id = #{id} order by created_date desc
    </select>

    <select id="getComments" resultType="uz.ibaso.blog.db.dto.OutPostDto">
        select post.id, user_id, screen_name, username, content,
               post.created_date, like_count, repost_count, comment_count, parent_id,users.username as parent_username from post
               left join users on post.user_id = users.id
        where parent_id = #{parent_id} order by created_date
        desc

    </select>
    <select id="getPostsByUsername" resultType="uz.ibaso.blog.db.dto.OutPostDto">
        select post.id, user_id, screen_name, username, content,
               post.created_date, like_count, repost_count, comment_count, parent_id, users.username as parent_username from post
            left join users on post.user_id = users.id
        where username = #{username}
            <if test="all !=1" >
                and parent_id =-1
            </if>
               order by created_date desc
    </select>

    <select id="getCommentsCount" resultType="integer">
        select count(1) from post where parent_id = #{post_id}
    </select>
    <insert id="savePost" parameterType="uz.ibaso.blog.db.dto.PostDto"  >
        insert into post ( user_id, content,  parent_id) values (#{user_id},#{content},#{parent_id})
    </insert>
    <update id="updateCommentCount">
        update post set comment_count = #{comment_count} where id = #{post_id}
    </update>
    <delete id="deletePost" parameterType="long">
        delete from post where id = #{post_id}
    </delete>

</mapper>
